<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }} &mdash; {{ site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-background font-sans leading-relaxed text-foreground overflow-x-hidden print:bg-white print:text-black">

        {{ partial:partials/menus/menu_principal }}

        <main>
            {{ template_content }}
        </main>

        {{ partial:partials/cv/footer }}
    </body>
</html>
